
$primary-color: #6b8f71;
$background-color: #272b2d;
$white-color: #fdfffc;
$cerulean-color: #006e90;
$celadon-color: #aad2ba;
$orange-color: #f18f01;
$gray-color: #c0c2c1;

:export {
    primary-color: $primary-color;
    background-color: $background-color;
    white-color: $white-color;
    cerulean-color: $cerulean-color;
    celadon-color: $celadon-color;
    orange-color: $orange-color;
    gray-color: $gray-color;
}